.form{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.submitBtn{
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom:20px;
    background-color: #81ecec;
    color:#636e72;
}
.submitBtn:hover,
.submitBtn:active{
    background-color:#00cec9;
    color:#2d3436;

}
.inputTitle{
    font-size: 20px;
}

input[type=tel]{
    border-color:#81ecec;
    border-radius: 5px;
    padding:5px 10px;
}
input[type=text]{
    border-color:#81ecec;
    border-radius: 5px;
    padding:5px 10px;
}
input[type=tel]:focus{
    background-color: #81ecec;

}

input[type=text]:focus{
    background-color: #81ecec;
}